#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: #00a087;
  color: #e8fdff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 2em;
  padding-left: 2em;
  z-index: 1;
  overflow: hidden;
  .logo {
    width: 80px;
    height: 80px;
    float: left;
  }
  .header {
    float: left;
    padding-left: 10px;
    font-size: 200%;
    line-height: 250%;
  }
  .logout {
    display: none;
    height: 50px;
    width: 110px;
    cursor: pointer;
    background-color: #e8fdff;
    float: right;
    margin-top: 15px;
    color: #00a087;
    border: 1px solid black;
    border-radius: 3px;
    img {
      padding-left: 5px;
      float: left;
      padding-top: 10px;
    }
    p {
      padding-left: 12px;
      float: left;
    }
  }
  .logout:hover {
    color: black;
  }
  .login {
    height: 50px;
    width: 110px;
    cursor: pointer;
    background-color: #e8fdff;
    float: right;
    margin-top: 15px;
    color: #00a087;
    border: 1px solid black;
    border-radius: 3px;
    img {
      padding-left: 5px;
      float: left;
      padding-top: 10px;
    }
    p {
      padding-left: 12px;
      float: left;
    }
  }
  .login:hover {
    color: black;
  }
  .register {
    margin-right: 5px;
    height: 50px;
    width: 110px;
    cursor: pointer;
    background-color: #e8fdff;
    float: right;
    margin-top: 15px;
    color: #00a087;
    border: 1px solid black;
    border-radius: 3px;
    img {
      padding-left: 5px;
      float: left;
      padding-top: 10px;
    }
    p {
      padding-left: 12px;
      float: left;
    }
  }
  .register:hover {
    color: black;
  }
  .compose {
    display: none;
    margin-right: 5px;
    height: 50px;
    width: 110px;
    cursor: pointer;
    background-color: #e8fdff;
    float: right;
    margin-top: 15px;
    color: #00a087;
    border: 1px solid black;
    border-radius: 3px;
    img {
      padding-left: 5px;
      float: left;
      padding-top: 10px;
    }
    p {
      padding-left: 3px;
      float: left;
    }
  }
  .compose:hover {
    color: black;
  }
}
