.new-tweet {
  display: none;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid #CC9;
  border-radius: 5px;
  background-color: #eee;
  h2 {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 2px solid black;
  }
  .counter {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
    font-style: italic;
  }
  textarea {
    margin-left: 10px;
    margin-right: 10px;
    width: 365px;
  }
  input {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .error {
    visibility: hidden;
    color: red;
  }
}
