article.tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10px;
  border: 1px solid #CC9;
  border-radius: 5px;
  background-color: white;
  position: relative;
  height: 220px;
  header {
    filter: opacity(70%);
    background-color: #eee;
    padding-bottom: 70px;
    img {
      float: left;
      border-radius: 5px;
      margin-left: 10px;
      margin-top: 10px;
    }
    h2 {
      float: left;
      line-height: 30%;
      margin-left: 10px;
    }
  }
  footer {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    width: 374px;
    p {
      float: left;
    }
    img {
      visibility: hidden;
      float: right;
      margin-top: 15px;
      margin-right: 10px;
    }
    .count {
      visibility: hidden;
      padding-right: 10px;
      float: right;
    }
  }
}

article.tweet:hover {
  border: 1px solid grey;
  header {
    filter: opacity(100%);
  }
}

article.tweet header > span {
  float: right;
  padding-top: 45px;
  padding-right: 3px;
}

article.tweet > span {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 355px;
  overflow: auto;
}
